.gradle
build
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/shelf
/.idea/assetWizardSettings.xml
.DS_Store
.artifacts
*.iml
*.iws
.idea/modules.xml
.idea/guava.xml
.idea/migration.xml
/captures
.externalNativeBuild
.cxx
/androidApp/build
/shared/build
.kotlin/
